<div class="container">
  <h1>Overview Restaurants:</h1>
  <br>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Create new Restaurant", new_restaurant_path  %>
</div>
